@import url("//fonts.googleapis.com/css?family=Lato:300,400,700,400italic");
@import url("/fonts/liberationmono_regular_macroman/stylesheet.css");
@import url("/fonts/liberationmono_bold_macroman/stylesheet.css");

html, body {
	height: 100%;
}

#container {
	min-height: 100%;
}

/* Move down content because we have a fixed navbar that is 60px tall */
body {
	padding-top: 60px;
}

code, kbd, pre, samp {
	font-family: "Liberation Mono", monospace;
}

/*
	Header
*/

#logo {
	font-family: "Liberation Mono", monospace;
	font-weight: bold;
	font-size: 1.4em;
	margin-right: 15px;
	padding: 6px 9px 4px 6px;
	letter-spacing: -3px;
	border-radius: 4px;
}

#github-link {
	display: none;
}

@media (min-width: 768px) {
	#theme-switch {
		margin-right: -15px;
		margin-left: 15px;
	}
	
	#github-link {
		display: block;
	}
}

/*
	Sidebar
*/

@media (min-width: 768px) {
	.sidebar {
		width: 192px;
		position: fixed;
		top: 61px;
		bottom: 0;
		z-index: 1000;
		padding: 20px;
		margin-bottom: 0;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	}
}

@media (min-width: 992px) {
	.sidebar {
		width: 242px;
	}
}

@media (min-width: 1200px) {
	.sidebar {
		width: 292px;
	}
}

/*
	Main content
*/

.main {
	padding: 20px;
	text-rendering: optimizeLegibility;
}

@media (min-width: 768px) {
	.main {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.main .page-header {
	margin-top: 0;
	font-weight: 300;
}

